<%- include('./index')-%>

<h2 style="text-align: center;">Formulario para ingreso de productos</h2>
<form action="/api/productos/" method="POST" class=".form-horizontal container pt-5">
    <span>Título:</span> <input type="text" name="title" id="title">
    <span>Precio:</span> <input type="number" name="price" id="price">
    <span>UrlImagen:</span> <input type="text" name="thumbnail" id="thumbnail">
    <button>Enviar</button>
</form>